.head{
  display: flex;
  flex-direction: row;
  background-color: beige;
  justify-content: space-between;
}
a{
  text-decoration: none;
  color: black;
}
ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  transition: 2s ease-in-out;
  
}
li{
  padding: 1.5rem;
}

.item{
  font-family: monospace;
  font-weight: bold;
}
.ber{
  display: none;
}
.name{
  margin-top: 10px;
  margin-left: 20px;
}

.item:hover{
  background-color: coral;
}
#x{
  display: none;
}
.o-item:hover{
background-color: lightcoral;
border-radius: 2rem;
}
@media (max-width:720px){
  
  .items{
    display: none;
    flex-direction: column;
    text-align: center;
  }
  #x{
    display: none;
    font-size: 35px;
  }
  .o-items{
    display: none;
    
  }
  .item{
    font-size: 18px;
  }
  .o-item{
    padding: 1rem;
  }
  .ber{
    display: initial;
    font-size: 35px;
    font-weight: bold;
    margin-top: 20px !important;
  }
}